.card{
    background-color: black;
    color:white;
    
}
.cardH{
    color: grey;
    align-items: center;
}

.buttonM{
    background-color:rgb(81, 87, 87);
    font-family: Arial, Helvetica, sans-serif
}

.mlp{
    font-family: Arial, Helvetica, sans-serif;
}
.i{
    padding-right: 5px;
}
.Registro{
    height: 100%;
}

.card img{
    border-radius: 50%;
}

 .imgC{
     padding-left: 45%;
 }

